<div src class="intro-container mb-8" width="250">
  <!--  <ng-particles-->
  <!--    [id]="id"-->
  <!--    [options]="particlesOptions"-->
  <!--    [particlesInit]="particlesInit"-->
  <!--  >-->
  <!--  </ng-particles>-->
  <div class="card">
    <p class="text-justify col-5 intro-card border-round">
      <span><h1>Title</h1></span>
      As a legal professional I feel committed to society to perform my
      professional duties with dignity, always with the defence of human rights
      as my main objective, in order to avoid violating the fundamental rights
      of people, regardless of their origin.
    </p>
  </div>
</div>
