.intro-container {
  position: relative;
  width: 100%;
  height: 55vh;
  background-image: url("obj.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
}
.intro-card {
  box-shadow: 0 0 10px 0 grey;
  -webkit-box-shadow: navy;
  background: inherit;
  backdrop-filter: blur(5px);
}
