<p-menubar
  [model]="items"
  [style]="{
    background: '#fff',
    border: 'none',
    padding: 0
  }"
>
  <ng-template class="mt-2" pTemplate="start">
    <a routerLink="/">
      <p-image
        [src]="'assets/logo_main.png'"
        alt="Image"
        width="40"
        imageClass="mr-2"
      ></p-image>
    </a>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="pl-3">
      <p-avatar
        label="U"
        size="normal"
        [style]="{ 'background-color': '#4caf4f', color: '#ffffff' }"
        shape="circle"
      ></p-avatar>
    </div>
  </ng-template>
</p-menubar>
